services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.prod
    env_file:
      - .env
    ports:
      - '3000:3000'
    depends_on:
      - db
      - redis
    environment:
      TZ: America/Sao_Paulo
    restart: unless-stopped

  db:
    image: postgres:18-alpine
    env_file:
      - .env
    volumes:
      - postgres_data_prod:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      TZ: America/Sao_Paulo
    ports:
      - '3001:5432'

  redis:
    image: redis:7-alpine
    env_file:
      - .env
    volumes:
      - redis_data_prod:/data
    environment:
      - TZ=America/Sao_Paulo
    ports:
      - '3002:6379'

volumes:
  postgres_data_prod:
  redis_data_prod:
