services:
  app:
    build:
      context: .
    volumes:
      - ./:/app
    ports:
      - '3000:3000'
      - '24678:24678'
    depends_on:
      - db
      - redis
    environment:
      TZ: America/Sao_Paulo

  db:
    image: postgres:18-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./docker/postgres/init:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      TZ: America/Sao_Paulo
    ports:
      - '3001:5432'

  redis:
    image: redis:7-alpine
    volumes:
      - redis_data:/data
    environment:
      TZ: America/Sao_Paulo
    ports:
      - '3002:6379'

volumes:
  postgres_data:
  redis_data:
